/* Here is your custom css styles. */
@font-face{
    font-family: 'myFont';
    src: url('https://cdn.jsdelivr.net/gh/YQMMKINGDOM/jsDelivr@main/tff手写字体库/书体坊赵九江钢笔行书.ttf');
}

body{
    font-family: 'myFont';
}