<main class="content">
  <div class="container friends-container">
      <div class="card">
          <div class="card-content">
              <!-- artitalk -->
              <div id="artitalk_main"></div>
              <script type="text/javascript" src="https://unpkg.com/artitalk"></script>
              <script>
                new Artitalk({
                      appId: 'yWzJ29GHlsu6Ix45q0TbOFCm-MdYXbMMI',
                      appKey: 'lWDIHdYoGpytKtGQI75D3cq1',
                })
                </script>
              <!-- artitalk.end -->
          </div>
      </div>
  </div>
</main>


