<div class="blank" style="padding-top: 0px;"></div>
<div id="content" class="site-content">
  <% if (theme.notice) { %>
  <div class="notice" style="margin-top:60px">
    <i class="iconfont icon-notification">
    </i>
    <div class="notice-content"><span id="hitokoto" style="margin-left:5px;">api获取中...</span>
      <p align="right" id="afrom"></p>
      <script src="https://cdn.jsdelivr.net/npm/bluebird@3/js/browser/bluebird.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script>
      <script>
        fetch('https://v1.hitokoto.cn/?c=h')
          .then(function (res){
            return res.json();
          })
          .then(function (data) {
            var hitokoto = document.getElementById('hitokoto');
            var afrom = document.getElementById('afrom');
            hitokoto.innerText = data.hitokoto;
            afrom.innerText =  '——【' + data.from + ' ' + data.from_who + '】';
          })
          .catch(function (err) {
            console.error(err);
          })
      </script>
    </div>
  </div>
  <!--一下注释掉的是春节的插件，如要使用，去掉注释即可-->
  <!--<div class="deng-box">
    <div class="deng">
        <div class="xian"></div>
        <div class="deng-a">
            <div class="deng-b"><div class="deng-t">新春</div></div>
        </div>
        <div class="shui shui-a"><div class="shui-c"></div><div class="shui-b"></div></div>
    </div>
    </div>
    <div class="deng-box1">
    <div class="deng">
        <div class="xian"></div>
        <div class="deng-a">
            <div class="deng-b"><div class="deng-t">快乐</div></div>
        </div>
        <div class="shui shui-a"><div class="shui-c"></div><div class="shui-b"></div></div>
    </div>
    </div>-->
  <% } %>
  <%- partial('_partial/startdash') %>
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <h1 class="main-title" style="font-family: 'Ubuntu', sans-serif;">
      <i class="fa fa-envira" aria-hidden="true"></i>
      我的博文</h1>
      <%- partial('_partial/archive', {pagination: 2, index: true}) %>
    </main>
      <!-- 首页默认取最最新文章集 -->
    <!-- <% if (page.total > 1){ %>
      <nav class="navigator">
        <% var prev_text = __('prev');var next_text = __('next');%>
        <%- paginator({
          prev_text: prev_text,
          next_text: next_text
        }) %>
      </nav>
    <% } %> -->
  </div>
  <% if (page.total > 1 && page.next_link){ %>
    <div id="pagination"><a href="<%- url_for(page.next_link) %>" class="">更多</a></div>
  <% } %>
</div>

