<%- partial('_partial/bg-cover') %>



<main class="content">
  <div class="container friends-container">
      <div class="card">
          <div class="card-content">
            <script type="text/javascript" src="https://unpkg.com/artitalk"></script>
            <div id="artitalk_main"></div>
            <script>
            new Artitalk({
                appId: 'rE28AlFx3emaxTx9NQPPYfef-MdYXbMMI',
                appKey: 'Blb6VBNddsWX7RriyHt7RsfD',
            })
            </script>
          </div>
      </div>
  </div>
</main>


